<!DOCTYPE html>
<!-- -->
<html>
<head>
  <title>Noddus Team</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./css/style.css" rel="stylesheet" media="screen">
  <!-- Bootstrap -->
  <link href="./css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="./css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="row" id="uno">
    <!--LOGO y MENU-->
    <div id="span-logo" class="col-lg-4">
      <div id="logo-container">
        <img id="logo" src="./img/logo_noddus.png" />
      </div>
    </div>
    <div id="span-nav" class="col-lg-8">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">TOUR</a></li>
        <li><a href="#">BENEFICIOS</a></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">CONTACTO</a></li>
        <li><a href="#"><img src="./img/twitter.png" style="width: 20px;" /></a></li>
        <li><a href="#"><img src="./img/facebook.png" style="width: 13px;" /></a></li>
        <li><a href="#"><img src="./img/mail.png" style="width: 20px;" /></a></li>
        <li><a href="#"><img src="./img/login.png" style="width: 25px;" />ENTRAR</a></li>
      </ul>
    </div>
    <!-- /LOGO y MENU-->
    <!--VIDEO-->
    <div class="col-lg-12">
      <div id="videoyoutube">
        <img id="video" src="./img/youtube.png" />
      </div>
    </div>
    <!--/VIDEO-->
    <!--QUE HACEMOS-->
    <div id="span-pregunta" class="col-lg-12" style="font-size: 26px;">
      &iquest;Qu&eacute; hacemos?
    </div>
    <div id="span-que-hacemos"class="col-lg-12" style="font-size: 26px;">
      <ul class="" id="hacemos">
        <li><a href="#"><img src="./img/hacemos/hacemos1.png"></a></li>
        <li><a href="#"><img src="./img/hacemos/hacemos2.png"></a></li>
        <li><a href="#"><img src="./img/hacemos/hacemos3.png"></a></li>
        <li><a href="#"><img src="./img/hacemos/hacemos4.png"></a></li>
        <li><a href="#"><img src="./img/hacemos/hacemos5.png"></a></li>
        <li><a href="#"><img src="./img/hacemos/hacemos6.png"></a></li>
        <li><a href="#"><img src="./img/hacemos/hacemos7.png"></a></li>
        <!-- ... -->
      </ul>
    </div>
    <!--/QUE HACEMOS-->
  </div>
  <div class="row" id="dos">
    <img id="rocket" src="./img/rocket.png" />
    <p id="registro" style="font-size:26px;">Ajuste su cintur&oacute;n, estamos por despegar</p><br>
    <p id="registro" style="font-size:18px;">
      Reg&iacute;strate ahora y s&eacute; parte del pr&oacute;ximo lanzamiento</p>
    <img id="rocket" src="./img/email.png" />
  </div>

  <div class="row" id="tres">
    <img id="mosaico" src="./img/fotos_mosa.png" />
    <div id="caracteristica" class="col-lg-6">
      <h1>PRIMERA CARACTERISTICA</h1>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </div>

  <div class="row" id="cuatro">
    <div id="caracteristica2" class="col-lg-6">
      <h1>SEGUNDA CARACTERISTICA</h1>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
    <img id="app_view" src="./img/app_view.png" />
  </div>

  <div class="row" id="cinco">
    <img id="mosaico" src="./img/logos_mosa.png" />
    <div id="caracteristica" class="col-lg-6">
      <h1>TERCERA CARACTERISTICA</h1>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </div>

  <div class="row" id="seis">
    <div id="caracteristica4" class="col-lg-6">
      <h1>CUARTA CARACTERISTICA</h1>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
    <img id="iconos_" src="./img/iconos.png" />
  </div>

  <div class="row" id="siete">
    <div id="caracteristica7" class="col-lg-12">
      Al registrarte conseguir&aacute;s estos superpoderes
    </div>
    <div id="beneficios" class="row">
      <div id="categoria" class="col-lg-6">
        <div class="row"><img src="./img/ninja_txt.png"></div>
        <div class="row">
          Lista de beneficios para practicantes.
          Lorem ipsum dolor sit amet, eget condimentum ligula porttitor urna, nec sit platea mauris ligula. Convallis vel amet semper, maecenas augue sit interdum. Tortor ad nullam aliquet eget, vulputate vel erat augue pede nunc magna donec.
        </div>
      </div>
      <div id="categoria" class="col-lg-6">
        <div class="row"><img src="./img/ninja_txt.png"></div>
        <div class="row">
          Lista de beneficios para practicantes.
          Lorem ipsum dolor sit amet, eget condimentum ligula porttitor urna, nec sit platea mauris ligula. Convallis vel amet semper, maecenas augue sit interdum. Tortor ad nullam aliquet eget, vulputate vel erat augue pede nunc magna donec.
        </div>
      </div>
      <div id="categoria" class="col-lg-6">
        <div class="row"><img src="./img/ninja_txt.png"></div>
        <div class="row">
          Lista de beneficios para practicantes.
          Lorem ipsum dolor sit amet, eget condimentum ligula porttitor urna, nec sit platea mauris ligula. Convallis vel amet semper, maecenas augue sit interdum. Tortor ad nullam aliquet eget, vulputate vel erat augue pede nunc magna donec.
        </div>
      </div>
    </div>
  </div>


  <div class="row" id="dos">
    <img id="rocket" src="./img/rocket.png" />
    <p id="registro" style="font-size:26px;">Ajuste su cintur&oacute;n, estamos por despegar</p><br>
    <p id="registro" style="font-size:18px;">
      Reg&iacute;strate ahora y s&eacute; parte del pr&oacute;ximo lanzamiento</p>
    <img id="rocket" src="./img/email.png" />
  </div>

  <div class="row" id="uno">
    <img id="rocket" src="./img/rocket.png" />
    <p id="registro" style="font-size:26px;">Ajuste su cintur&oacute;n, estamos por despegar</p><br>
    <p id="registro" style="font-size:18px;">
      Reg&iacute;strate ahora y s&eacute; parte del pr&oacute;ximo lanzamiento</p>
    <img id="rocket" src="./img/email.png" />
  </div>


  <!-- JavaScript plugins (requires jQuery) -->
  <script src="http://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Optionally enable responsive features in IE8 -->
  <script src="js/respond.js"></script>
</body>
</html>