.checkbutton { 
    background-image: url("img/check.png");
    background-position:  0px 0px;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
    border: 0px;
    background-size: 65px;
}
}
.container{
	max-width: 1024px !important;
}
.navbar-nav{
	float:right !important;
	font-family: sans-serif, tillium semi-bold;
	font-size: 13pt;	
	}

.niceinput{
	/*margin-left: 452px;*/
	width: 354px;
	height: 65px;
	border: 4px solid rgb(38, 185, 169);
	font-size: 30px;
	background-color: rgba(0, 0, 0, 0);
	color: white;
}
#span-nav{
	float: right;
	padding: 0;
	margin: 0;
}

#span-logo{
	width: 180px;
	margin: 0;
	padding: 0;
}

img#logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#logo-container{
	width:180px;
	background-color: black;
}

#uno{
	background-color: #D7D7D7;
	padding-bottom: 46px;
}
#dos{
	background-color: #313131;
	padding-bottom: 50px;
}

#video{
	display: block;
margin-left: auto;
margin-right: auto;
}
#videoyoutube{
	margin-top: 50px;
margin-bottom: 50px;
}
ul#hacemos{
	list-style: none;
	font-size: 30px;
}
ul#hacemos > li {
float: left;
margin: 0 7px 0 7px;
}

ul#hacemos > li img{
max-width: 113px;
}

#rocket{
	display: block;
margin: 40px auto 5px auto;
}
#registro{
	color: #00D1D1;
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
}

.triangle-topleft {
	width: 0;
	height: 0;
	border-top: 100px solid red;
	border-right: 100px solid transparent;
}
#tres{
	background-image: url("img/caracteristica_1.png");
	background-size: 100% 350px;
	background-repeat: no-repeat;
	height: 350px;
}

#cuatro{
	background-image: url("img/caracteristica_2.png");
	background-size: 100% 402px;
	background-repeat: no-repeat;
	height: 402px;
	margin-top: -54px;
	z-index: 100;
}
#cinco{
	background-image: url("img/caracteristica_3.png");
	background-size: 100% 402px;
	background-repeat: no-repeat;
	height: 402px;
	margin-top: -54px;
}
#seis{
	background-image: url("img/caracteristica_4.png");
	background-size: 100% 402px;
	background-repeat: no-repeat;
	height: 402px;
	margin-top: -62px;
}
#uno, #dos, #tres, #cuatro, #cinco, #seis {
	position: relative;
	color: #FFF;
}

.nav>li>a {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

#span-que-hacemos{
	max-width: 980px;
	margin: 0 auto;
	display:block;
	float: center;
}
#beneficios{
	max-width: 880px;
	margin: 0 auto;
	display:block;
	float: center;
}
#span-pregunta{
	margin-bottom: 16px;
}
#mosaico{
	max-width: 400px;
	margin-left: 5%;
	width: 80%;
	float: left;
	z-index: -80;
}
#caracteristica{
	margin-top: 100px;
margin-left: 3%;
}
#caracteristica2{
	margin-top: 100px;
margin-left: 3%;
position: absolute;
}
#app_view{
	max-width: 400px;
	margin-right: 5%;
	width: 80%;
	float: right;
	margin-top: 100px;
}
#iconos_{
	max-width: 400px;
	margin-right: 5%;
	width: 80%;
	float: right;
	margin-top: 150px;
}
#caracteristica4{
	margin-top: 140px;
margin-left: 3%;
position: absolute;
}

#siete{
	background-color: #D7D7D7;
	padding-bottom: 46px;
	position: relative;

	font-family: sans-serif, tillium semi-bold;
font-size: 25pt;
}

#caracteristica7{
	max-width: 690px;
margin: 65px auto 0 auto;
float: none;
display: block;
}


#categoria img{
	max-width: 150px;
}
#categoria{
	font-family: sans-serif, tillium semi-bold;
	font-size: 10pt;
	max-width: 243px;
	margin-left: 25px;
margin-right: 25px;
}