<p>Hello <%= @resource.email %>!</p>

<p>Alguien (Esperamos que tu), pidio que fuera restablecida tu contraseña </p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no fue usted, por favor ignore este mail</p>
<p>Tu contraseña no cambiara hasta que acceses al link de arriba y pidas una nueva<p>