<div id="myModal" style="width: 700px;margin-left: -340px;" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Registro/Entrar</h3>
  </div>
  <div class="modal-body">
    <div class="span4"><%= render :file => 'devise/registrations/new' %></div>
    <div class="span4"><%= render :file => 'devise/sessions/new' %></div>
  </div>
  <div class="modal-footer">
    <a href="/users/auth/google_oauth2">
      <button class="zocial google" style="font-size: 13px;">
        Registrate con Google
      </button></a>
    <a href="/users/auth/linkedin_oauth2">
      <button class="zocial linkedin" style="font-size: 13px;">
        Registrate con Linkedin
      </button></a>
    <a href="/users/auth/facebook">
      <button class="zocial facebook" style="font-size: 13px;">
        Registrate con Facebook
      </button></a>
  </div>
</div>